@model dynamic

    @{
        ViewBag.Title = "EventPlanner";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="jumbotron">
        <h2>EventPlanner</h2>

        Jaja, da's hier een keipraktische applicatie.
    </div>