@using EventPlanner.Code.Extensions
@using MvcContrib.UI.Grid
@model IEnumerable<EventPlanner.Contracts.ReservatieResdata>

@{
    ViewBag.Title = "Evenementen QFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12 main">
    <h2 class="sub-header">Komende Evenementen</h2>
    
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" ng-model="DatumVan" class="form-control" datepicker-popup="dd-MM-yyyy" is-open="OpenedVan"
                           close-text="Sluiten" ng-click="openCalendar($event, 'OpenedVan')" ng-blur="Close();" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'OpenedVan')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" ng-model="DatumTot" class="form-control" datepicker-popup="dd-MM-yyyy" is-open="OpenedTot"
                           close-text="Sluiten" ng-click="openCalendar($event, 'OpenedTot')" ng-blur="Close();" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'OpenedTot')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        @Html.Grid(Model).Attributes(new Dictionary<string, object> { { "id", "ReservatieTable" }, { "class", "table table-striped" } }).Columns(column =>
        {
            column.For(c => c.Evenement.Omschrijving);
            column.For(c => c.Straten.ToKommaSeparatedString()).Named("Straten");
            column.For(c => c.Evenement.Eigenaar);
            column.For(c => c.Evenement.DatumBeslissing);
            column.For(c => c.Reservatiedatum);
            column.For(c => Html.ActionLink("Detail", "Detail", "Reservatie", new { Id = c.Evenement.Id }, new { Id = c.Evenement.Id }));
        })
        
    </div>

</div>