@{
    ViewBag.Title = "Evenementen QFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12 main" ng-controller="ReservatiesCtrl">
    <h2 class="sub-header">Komende Evenementen</h2>

    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" ng-model="datumVan" class="form-control" datepicker-popup="dd-MM-yyyy" is-open="van.opened"
                           close-text="Sluiten" ng-click="openCalendar($event, 'van')" ng-blur="Close();" ng-change="callServer()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'van')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" ng-model="datumTot" class="form-control" datepicker-popup="dd-MM-yyyy" is-open="tot.opened"
                           close-text="Sluiten" ng-click="openCalendar($event, 'tot')" ng-blur="Close();" ng-change="callServer()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'tot')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <table st-table="rowCollection" class="table table-striped" st-pipe="callServer">
            <thead>
                <tr>
                    <th class="col-md-2">Datum</th>
                    <th class="col-md-4">Titel</th>
                    <th class="col-md-2">Locaties</th>
                    <th class="col-md-2">Eigenaar</th>
                    <th class="col-md-2">Datum Beslissing</th>
                </tr>
            </thead>
            <tbody ng-show="!isLoading">

                <tr ng-repeat="row in rowCollection">
                    <td>{{row.reservatiedatum | date : 'dd-MM-yyyy'}}</td>
                    <td><a href="/reservatie/Detail/{{row.id}}">{{row.titel}}</a></td>
                    <td>{{row.straten}}</td>
                    <td>{{row.eigenaar}}</td>
                    <td>{{row.datumBeslissing | date : 'dd-MM-yyyy'}}</td>
                </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <tr>
                    <td colspan="5" class="text-center">Bezig met laden ... </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="5"></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>