@using EventPlanner.Code.Extensions
@using MvcContrib.UI.Grid
@model IEnumerable<EventPlanner.Contracts.ReservatieResdata>

@{
    ViewBag.Title = "Evenementen QFrame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12 main">
    <h2 class="sub-header">Komende Evenementen</h2>
    
    <div class="well">
        @using (Html.BeginForm("PeriodeList", "Home", FormMethod.Post))
        {
            <div class="row">
                <div class="col-lg-4">
                    @Html.TextBox("DatumVan", DateTime.Now.Date.ToShortDateString(), new Dictionary<string, object> { { "class", "form-control" } })
                </div>
                <div class="col-lg-4">
                    @Html.TextBox("DatumTot", DateTime.Now.AddMonths(4).Date.ToShortDateString(), new Dictionary<string, object> { { "class", "form-control" } })
                    
                </div>
                <div class="col-lg-4">
                    <input type="submit" value="Periode aanpassen" class="btn btn-primary" />                    
                </div>
            </div>
        }        
    </div>
    
    <div class="table-responsive">
        @Html.Grid(Model).Attributes(new Dictionary<string, object> { { "id", "ReservatieTable" }, { "class", "table table-striped" } }).Columns(column =>
        {
            column.For(c => c.Evenement.Omschrijving);
            column.For(c => c.Straten.ToKommaSeparatedString()).Named("Straten");
            column.For(c => c.Evenement.Eigenaar);
            column.For(c => c.Evenement.DatumBeslissing);
            column.For(c => c.Reservatiedatum);
            column.For(c => Html.ActionLink("Detail", "Detail", "Reservatie", new { Id = c.Evenement.Id }, new { Id = c.Evenement.Id }));
        })
        
    </div>

</div>