@model Int32

@{
    ViewBag.Title = "Evenement detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ReservatieDetailCtrl">
    <div ng-controller="DetailEvenementCtrl" ng-init="init(@Model)" ng-cloak>
        <h1>{{evenement.titel}}</h1>
        <div class="well">
            <h2>Detail</h2>
            <input type="hidden" ng-model="evenement.id" />
            <div class="form-group">
                <label>Eigenaar: </label>
                {{evenement.eigenaar}}
            </div>
            <div class="form-group">
                <label>Omschrijving:</label>
                <textarea class="form-control" rows="10" ng-model="evenement.omschrijving"></textarea>
            </div>

            <div class="form-group">
                <input type="checkbox" ng-model="evenement.muziekVergunning" />
                <span>Muziek?</span>
            </div>
            <button type="submit" class="btn btn-success" ng-click="detailEvenementOpslaan()">Omschrijving opslaan</button>
        </div>

        <div class="well">
            <h2>Dagen</h2>
            <ul ng-repeat="reservatieDatum in reservatieData track by $index">
                <li>{{reservatieDatum | date: 'dd-MM-yyyy'}}</li>
            </ul>
            <button type="button" class="btn btn-default" ng-click="nieuwePeriodeToevoegenVisibility.visible = true"
                    ng-show="!nieuwePeriodeToevoegenVisibility.visible">
                <i class="glyphicon glyphicon-plus"></i> Nieuwe periode toevoegen
            </button>
        </div>
    </div>

    <div class="well" ng-controller="PeriodeCtrl" ng-show="nieuwePeriodeToevoegenVisibility.visible">
        <div class="form-group">
            <label>Van:</label>
            <input type="text" class="form-control" ng-model="nieuwereservatie.beginDatumPeriode" />
        </div>
        <div class="form-group">
            <label>Tot:</label>
            <input type="text" class="form-control" ng-model="nieuwereservatie.eindDatumPeriode" />
        </div>
        <div class="form-group">
            <p class="input-group">
                <input class="form-control" type="text" placeholder="zoek een straat" />
                <span class="input-group-btn">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                </span>
            </p>
        </div>
        <div>
            <div><label for="Alle_Dagen"><input type="checkbox" name="Alle_Dagen" ng-model="nieuwereservatie.alle_Dagen" /> Alle dagen</label></div>
            <div><label for="Maandag"><input type="checkbox" name="Maandag" ng-model="nieuwereservatie.maandag" /> Maandag</label></div>
            <div><label for="Dinsdag"><input type="checkbox" name="Dinsdag" ng-model="nieuwereservatie.dinsdag" /> Dinsdag</label></div>
            <div><label for="Woensdag"><input type="checkbox" name="Woensdag" ng-model="nieuwereservatie.woensdag" /> Woensdag</label></div>
            <div><label for="Donderdag"><input type="checkbox" name="Donderdag" ng-model="nieuwereservatie.donderdag" /> Donderdag</label></div>
            <div><label for="Vrijdag"><input type="checkbox" name="Vrijdag" ng-model="nieuwereservatie.vrijdag" /> Vrijdag</label></div>
            <div><label for="Zaterdag"><input type="checkbox" name="Zaterdag" ng-model="nieuwereservatie.zaterdag" /> Zaterdag</label></div>
            <div><label for="Zondag"><input type="checkbox" name="Zondag" ng-model="nieuwereservatie.zondag" /> Zondag</label></div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="getOverlap(nieuwereservatie)">Periode toevoegen</button>
    </div>

</div>